//footer section
.footer{
  background-color: #F8F9FA;
}
.footer-content {
  display: flex;
  gap:385px;
  padding: 90px 0 60px 0;
  font-family: 'Raleway';
  margin-left: 100px;
}
.rs-content{
  display: flex;
  width: 180px;
}
.rs-other-links{
  height: 50px;
}
.rs-course-link svg{
  fill: #462A69;
  width: 135px;
}
.rs-course-link{
  margin-right: 20px;
}
.rs-youtube-link svg{
  fill: #462A69;
  width: 24px;
}
.rs-github-link svg{
  fill: #462A69;
  width: 24px;
}
.rs-github-link{
  margin-bottom: 2px;
}
.year{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 5em;
  color: #462A69;
}
.developers-title{
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #462A69;
  text-align: center;
}
.developer{
  margin-right: 20px;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #462A69;
}
.developer:last-child{
  margin: 0;
}
