// info section
.info-content{
  display: flex;
  font-family: 'Raleway';
  justify-content: space-between;
  margin-top: 50px;
}
.info-content-subtitle{
  margin: 38px 0 103px 0;
  max-width: 440px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #462A69;
}
.info-content-title{
  margin: 0 0 0 -2.5px;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 82px;
  color: #462A69;
}
.info-content-text{
  margin: 50px 0 0 0;

}
.info-content-image{
  margin: 0 0 0 45px;
}
.info-content-btn{
  @include button-primary;
  height: 50px;
  width: 175px;
}

//demonstration section
.demonstration{
  font-family: 'Poppins';
}
.demonstration-title h2{
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
  color: #462A69;
}
.demonstration-title{
  margin-bottom: 100px;
}
.demonstration-content{
  margin-top: 175px;
  text-align: center;
}
.demonstration-video{
  border-radius: 10px;
  overflow: hidden;
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

//features section
.features-content {
  text-align: center;
  font-family: 'Raleway';
  margin: 230px 50px 215px 50px;
}
.features-title h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
  color: #462A69;
}
.features-card {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.card {
  cursor: pointer;
  background-color: rgb(249, 249, 249);
}
.card-subtitle {
  width: 215px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #462A69;
  margin: 0 auto;
  text-align: left;
}
.card-title {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  color: #462A69;
  margin-bottom: 25px;
}
.card {
  @include card-common;
  width: 300px;
  height: 450px;
}

.card-img {
  height: 125px;
}
.card-games{
  margin: 0 65px;
}
.card-games-img{
  margin: 50px 0 40px 0;
}
.card-dictionary-img{
  margin: 60px 0 30px 0;
}
.card-statistic-img{
  margin: 45px 0 40px 0;
}
.card-games-content{
  margin-left: 20px;
}
.card-content{
  text-align: center;
  align-items: center;
}
.card-click{
  position: absolute;
  width: 100%;
  height: 100%;
}

//Team section
.team-content{
  text-align: center;
  margin: 0 auto;
}
.member{
  width: 956px;
  height: 350px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.member-photo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: darkgray;
  overflow: hidden;
}
.member-kirill-photo img{
  width: 350px;
}
.member-kuanyshbek-photo img{
  width: 470px;
}
.member-oomat-photo img{
  width: 355px;
}
.member-text{
  font-family: 'Raleway';
  width: 440px;
}
.member-name h3{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #462A69;
  margin-bottom: 20px;
}
.git-logo{
  width: 32px;
  height: 32px;
}
.member-name{
  display: flex;
}
.member-history{
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #462A69;
  text-align: left;
  width: 440px;
  margin-bottom: 25px;
}
.member-info{
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #462A69;
  text-align: left;
  width: 440px;
}
.team-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
  color: #462A69;
}
.team-members{
  margin-top: 115px;
}
.member-kirill, .member-kuanyshbek{
  margin-bottom: 445px;
}
.member-oomat{
  margin-bottom: 205px;
}
.member-github-link{
  margin-left: 10px;
}
.member-github-link svg{
  fill: #462A69;;
}

