*{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 auto;
  max-width: 1280px;
}
.dictionary-title{
  margin-top: 50px;
}
.complexity-title{
  margin-top: 15px;
}
.dictionary-complexity{
  margin-top: 30px;
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.complexity-level{
  background-color: rgb(212, 212, 212);
  color: darkgray;
  width: 100px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
}
.complexity-level:hover{
  color: black;
  cursor: pointer;
}
.chosen-complexity{
  color: black;
}
.complexity-a1{
  border-bottom:5px solid green
} 
.complexity-a2{
  border-bottom:5px solid darkgray
}
.complexity-b1, .complexity-b2{
  border-bottom:5px solid darkgray
}
.complexity-c1, .complexity-c2{
  border-bottom:5px solid darkgray
}
.complexity-a2:hover{
  border-bottom:5px solid green
}
.complexity-b1:hover, .complexity-b2:hover{
  border-bottom:5px solid orange
}
.complexity-c1:hover, .complexity-c2:hover{
  border-bottom:5px solid red
}
/* block words */

.words{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap:20px;
  height: 600px;
}
.word{
  background: rgb(212, 212, 212);
  width: 200px;
  height: 120px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
}
.word p{
  font-size: 20px;
  font-weight: 600;
}
.english-word{
  padding-top: 30px;
}
.translate-word{
  margin-top: 10px;
  padding-bottom: 20px;
}
.word:hover{
  background-color: rgb(61, 229, 255);
  cursor: pointer;
}
.choosen-word{
  background-color: rgb(61, 229, 255);
}


/* word info block */
.dictionary-words{
  display: flex;
}
.word-info {
  width: 390px;
  border-radius: 20px;
  margin-top: 30px;
  background-color: rgb(214, 214, 214);
}
.word-info-content{
  font-size: 23px;
  margin-left: 10%;
}
.word-info-content audio{
  margin-top: 15px;
  width: 240px;
  height: 40px;
}
.word-img img{
  border-radius: 20px 20px 0 0;

}
.word-english {
  font-size: 30px;
  font-weight: 600;
  display: flex;
}
.volume-img svg{
  margin-left: 15px;
  width: 30px;
  height: 30px;
}
.volume-img:hover{
  cursor: pointer;
}
.word-translate {
  font-size: 25px;
  margin-top: 5 px;
}
.word-transcript {
  margin-top: 5px;
  font-size: 23px;
}
.word-mean {
  margin-top: 15px;
}
.word-mean-english {
  margin-top: 10px;
  margin-bottom: 5px;
}
.word-examples {
  margin-bottom: 15px;
  margin-top: 15px;
}
.word-example-english {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* pagination block */
.dictionary-pagination {
  display: flex;
  gap:20px;
  margin-bottom: 50px;
  align-items: center;
}
.pagination-prev {
}
.prev-page {
  background-color: rgb(202, 202, 202);
  border-radius: 20px;
  border: none;
  padding: 15px 30px;
}
.prev-page:hover{
  cursor: pointer;
  background-color: darkgray;
}
.prev-page:active{
  background-color: rgb(202, 202, 202);
}
.pagination-current {
}
.current-page {
  font-size: 20px;
  font-weight: 600;
}
.pagination-next {
}
.next-page {
  background-color: rgb(202, 202, 202);
  border-radius: 20px;
  border: none;
  padding: 15px 30px;
}
.next-page:hover{
  cursor: pointer;
  background-color: darkgray;
}
.next-page:active{
  background-color: rgb(202, 202, 202);
}