$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Raleway', sans-serif;

$color-white: #FFFFFF;
$color-red: #FF2A54;
$color-gray: #CFCFCF;
$color-light-gray: #F8F9FA;
$color-dark-gray: #AAAAAA;
$color-light-green: #31DAE6;
$color-light-lime: #CEFBE3;
$color-dark-blue: #462A69;
$color-blue: #51D7FF;
$color-light-blue: #d5f2fb;

$transition-time: 0.5s;

$screen-large: 1280px;
$screen-medium: 950px;

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-primary {
  border-radius: 25px;
  border: 1.5px solid $color-light-green;
  background-color: $color-light-green;
  color: $color-white;
  font-family: $font-primary;
  line-height: 24px;
  padding: 8px 24px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all $transition-time;

  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: $color-light-green;
    transition: all $transition-time;
  }
}

@mixin  button-secondary {
  border-radius: 50px;
  border: 1.5px solid $color-dark-blue;
  background-color: transparent;
  width: 40px;
  height: 40px;
  transition: all $transition-time;

  &:hover {
    @include button-secondary-selected;
  }
}

@mixin button-secondary-selected {
  cursor: pointer;
  background-color: $color-dark-blue;
  color: $color-white;
  transition: all $transition-time;
}

@mixin button-secondary-inactive {
  cursor: auto;
  border: 1.5px solid $color-gray;
  background-color: $color-gray;
  color: $color-white;
  transition: all $transition-time;

  &:hover {
    cursor: auto;
    border: 1.5px solid $color-gray;
    background-color: $color-gray;
    color: $color-white;
  }
}

@mixin button-simple {
  border: none;
  background-color: transparent;
  color: $color-dark-blue;
  font-family: $font-primary;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }
}

@mixin  card-common {
  display: flex;
  flex-direction: column;
  background-color: $color-light-gray;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px rgba(170, 170, 170, 0.25);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  margin: 0 100px;

  @media screen and (max-width: $screen-large) {
    margin: 0 75px;
  }

  @media screen and (max-width: $screen-medium) {
    margin: 0 25px;
  }
}

.hidden {
  display: none;
}

.button {
  &:hover {
    cursor: pointer;
  }
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-common {
  display: flex;
  flex-direction: column;
  background-color: $color-light-gray;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px rgba(170, 170, 170, 0.25);
}