.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-primary;
  color: $color-dark-blue;
  height: 150px;

  .header__logo {
    font-weight: 900;
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  .header__menu {
    @include center-content;
    
    .menu-item {
      @include button-simple;
      font-weight: 500;

      &:not(:last-child) {
        margin: 0 40px 0 0;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .header__button-signin {
    @include button-primary;
    height: 40px;
    width: 125px;
  }
}