.games-page {
  @include center-content;
  flex-direction: column;

  .games-page__header {
    color: $color-dark-blue;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 3.5rem;
    margin: 20px 0 95px;
  }

  .games-page__cardbox {
    @include center-content;

    .games-page__card {
      @include center-content;

      max-width: 300px;
      min-height: 400px;
      margin: 0 110px 150px;
      padding: 42px;
      color: $color-dark-blue;
      font-family: $font-secondary;


      .card__img {
        margin: 0 0 32px;
      }

      .card__title {
        font-size: 1.5rem;
        font-weight: 800;
        margin: 0 0 20px;
      }

      .card__text {
        font-weight: 500;
      }

      .card__button-primary {
        @include button-primary;
        margin: 30px 0 0;
      }
    }
  }
}