.games-page {
  @include center-content;
  flex-direction: column;

  .games-page__header {
    color: $color-dark-blue;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 3.5rem;
  }

  .games-page__card {
    @include center-content;
    margin: 2rem;
    width: 300px;
    height: 400px;

    h2 {
      position: relative;
      z-index: -5;
    }

    &:hover {
      cursor: pointer;
    }
  }
}