.game-result {
  @include center-content;
  flex-direction: column;
  height: 100vh;

  .game-result__card {
    @include card-common;
    display: flex;
    align-items: center;
    width: 55%;
    min-width: 340px;
    min-height: 400px;
    margin: 0 0 85px;
    padding: 35px;

    .card__header {
      width: 100%;
    
      .card__navbar {
        display: flex;
        width: 100%;
        justify-content: space-around;

        .button-navbar {
          @include button-simple;
          font-size: 1.15rem;
        }
      }
    }

    .card__content {
      color: $color-dark-blue;
      font-family: $font-primary;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 24px;
      margin: 15px 0 0;
      width: 100%;

      .content__results {
        h2 {
          text-align: center;
        }
      }

      .content__answers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
  
        .answers__header {
          text-align: center;
          font-weight: 600;
          margin: 15px 0;
        }
  
        .answers__words {
          text-transform: capitalize;
        }
      }
    }

    .card__circular-progress {
      display: grid;
      place-items: center;
      width: 250px;
      height: 250px;

      .circular-progress {
        display: grid;
        place-items: center;
        width: 200px;
        height: 200px;
        background-color: $color-light-blue;
        border-radius: 50%;
      }

      .circular-progress:before {
        content: "";
        position: absolute;
        height: 135px;
        width: 135px;
        background-color: $color-light-gray;
        border-radius: 50%
      }

      .value-container {
        font-family: $font-primary;
        font-weight: 600;
        font-size: 2rem;
        position: relative;
      }
    }
  }

  .game-result__form {
    @include center-content;
    flex-wrap: wrap;
    width: 40%;
    min-width: 340px;
    justify-content: space-evenly;

    .button {
      @include button-primary;
      width: 210px;
      max-width: 0 0 20px;
      margin: 0 20px 20px;
    }

    @media screen and (max-width: $screen-large) {
      justify-content: center;
    }
  }
}