.sprint-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprint-game__card {
  @include center-content;
  flex-direction: column;

  .sprint-game__answers {
    @include center-content;
    flex-direction: column;

    .answers__check {
      @include center-content;
    }
  }

  .sprint-game__timer {
    font-size: 2rem;
  
    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  
    .timer__value {
      text-align: center;
    }
  }
}

