.sprint-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprint-game__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}