.sprint-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprint-game__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sprint-game__timer {
  font-size: 2rem;

  svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  .timer__value {
    text-align: center;
  }
}